{% extends 'biblioteca/layout.html' %}

{% block body %}
<h2>Inserindo autor:</h2>
<form action="{% url 'alterarautor' autor.id %}" method="post">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td><label>Nome:</label></td>
                <td><input type="text" class="nome1" name="nome2" placeholder="digite seu nome aqui" autofocus
                        value="{{autor.nome}}"><br></td>
            </tr>
            <tr>
                <td><label>Idade:</label></td>
                <td><input type="number" class="numero1" name="numero2" placeholder="digite sua idade aqui"
                        value={{autor.idade}}><br></td>
            </tr>

        </tbody>
    </table>


    <button type="submit">Cadastrar nome</button>

</form>
{% endblock %}