{% extends 'biblioteca/layout.html' %}

{% block body %}
<h2>Faça seu login:</h2>
<form>
    {% csrf_token %}
    <table>
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" class="username1" name="username1" autofocus></td>
        </tr>
        <tr>
            <td><label>Senha:</label></td>
            <td><input type="password" class="senha1" name="senha1"></td>
        </tr>
    </table>
    <button type="submit">Entrar</button>
</form>
{% endblock %}